@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --clr-primary-100: hsl(202, 61%, 93%);
    --clr-primary-200: hsl(211, 100%, 50%);
    --clr-primary-300: hsl(218, 100%, 35%);

    --clr-danger-100: hsl(331, 100%, 96%);
    --clr-danger-200: hsl(0, 91%, 43%);

    --clr-accent: ;

    --clr-neutral-50: hsl(0, 0%, 98%);
    --clr-neutral-100: hsl(240, 5%, 96%);
    --clr-neutral-200: hsl(240, 6%, 93%);
    --clr-neutral-300: hsl(240, 5%, 84%);
    --clr-neutral-400: hsl(240, 5%, 65%);
    --clr-neutral-500: hsl(240, 4%, 46%);
    --clr-neutral-600: hsl(240, 5%, 34%);
    --clr-neutral-700: hsl(240, 5%, 26%);
    --clr-neutral-800: hsl(240, 4%, 16%);
    --clr-neutral-900: hsl(240, 6%, 10%);
    --clr-neutral-950: hsl(240, 10%, 4%);

    --bxsh-100: 0px 6px 24px 0px hsl(0, 0%, 0%, 0.04);
    /* --bxsh-inset-100: inset 0px -1px 4px 0px hsl(0, 0%, 0%, 0.06); */

    --ff-100: -apple-system, BlinkMacSystemFont, 'Inter', system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    --fz-10: 0.5rem;
    --fz-25: 0.75rem;
    --fz-50: 0.875rem;
    --fz-100: 1rem;
    --fz-200: 1.125rem;
    --fz-300: 1.25rem;
    --fz-400: 1.5rem;
    --fz-500: 1.875rem;
    --fz-600: 2.25rem;
    --fz-700: 3rem;
    --fz-800: 3.75rem;
    --fz-900: 4.5rem;
    --fz-950: 6rem;
    --fz-1000: 8rem;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    font: inherit;
}

input:focus-visible,
button:focus-visible {
    outline: 2px solid var(--clr-primary-200);
    outline-offset: 2px;
}

/* disable arrows on `input[type=number]` box */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* to enable arrows in input box on hover, comment out the selector above
and remove the comments from the one below */

/* input[type=number]:hover {
    appearance: unset;
    -moz-appearance: unset;
} */

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}

::selection {
    background-color: var(--clr-primary-200);
    color: var(--clr-primary-100);
}

body {
    background-color: var(--clr-neutral-100);
    color: var(--clr-neutral-800);
    min-height: 100vh;
    min-height: 100dvh;
    font-family: var(--ff-100);
    padding: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 75rem;
    margin: 0 auto;
    font-size: var(--fz-25);
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;

    color: var(--clr-neutral-600);
}

.time {
    text-transform: uppercase;
}

.divider {
    color: hsl(240, 5%, 40%, 0.15);
}

.temperature {
    cursor: pointer;
}

.amount-total {
    color: var(--clr-primary-200);
    font-size: var(--fz-500);
    font-weight: 800;
    letter-spacing: -0.04em;
}

.amount-total::before {
    content: '$';
}

main {
    max-width: 75rem;
    margin: 0 auto;
    margin-top: 1rem;
}

.new-expense-container {
    display: none;
}

.expenses {
    display: none;
}

.expenses-visible {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.expenses__title {
    color: var(--clr-neutral-800);
    font-size: var(--fz-300);
    margin-bottom: 0.5rem;
}

.expense {
    display: flex;
    align-items: center;
    gap: 1rem;

    box-shadow: var(--bxsh-100);
    min-height: 2.5rem;
    border: 1px solid hsl(0, 0%, 0%, 0.08);
    border-radius: 8px;
    padding: 0.5rem 0.75rem;

    transition: background-color 200ms;
}

.expense:hover {
    background-color: var(--clr-neutral-200);
}

.expense__date {
    color: var(--clr-neutral-600);
    font-size: var(--fz-25);
}

.expense__item {
    flex-grow: 1;
    font-weight: 600;
    word-wrap: break-word;
    word-break: break-all;

    color: var(--clr-neutral-700);
}

.expense__amount {
    color: var(--clr-neutral-700);
    text-align: right;
}

.expense__amount::before {
    content: '$';
}

.btn {
    background-color: var(--clr-neutral-200);
    color: var(--clr-neutral-800);
    box-shadow: var(--bxsh-100);
    border: 1px solid hsl(0, 0%, 0%, 0.08);
    cursor: pointer;

    transition: background-color 200ms, color 200ms;
}

.btn-delete-all {
    justify-self: start;

    background-color: var(--clr-danger-100);
    box-shadow: unset;
    color: var(--clr-danger-200);
    width: fit-content;
    min-height: 1.25rem;
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;

    border-radius: 8px;
    font-size: var(--fz-25);
}

.btn-delete-all:focus-visible {
    outline: 2px solid var(--clr-danger-200);
}

.btn-new-expense {
    display: grid;
    place-items: center;

    background-color: var(--clr-primary-200);
    color: var(--clr-neutral-100);
    width: 3rem;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.btn-new-expense:hover,
.btn-new-expense:focus-visible {
    background-color: var(--clr-primary-300);
}

.expense-modal {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    background-color: var(--clr-neutral-100);
    box-shadow: var(--bxsh-100);
    /* min-height: 30rem; */
    margin: auto;
    border: 1px solid hsl(0, 0%, 0%, 0.25);
    border-radius: 16px;
    padding: 1rem;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.expense-modal:not([open]) {
    display: none;
}

.expense-modal::-webkit-scrollbar {
    display: none;
}

.expense-modal::backdrop {
    background-image:
        linear-gradient(45deg,
            hsl(240, 6%, 92%, 0.3),
            hsl(240, 4%, 8%, 0.4));
}

.new-expense__title {
    color: var(--clr-neutral-800);
    font-size: var(--fz-400);
}

.new-expense__entries {
    width: 100%;
}

.new-expense__entry {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
}

.new-expense__entry:not(:first-of-type) {
    margin-top: 1rem;
}

.new-expense__label {
    color: var(--clr-neutral-600);
    font-size: var(--fz-50);
}

.new-expense__input {
    background-color: var(--clr-neutral-50);
    color: var(--clr-neutral-700);
    box-shadow: var(--bxsh-100);
    width: 100%;
    border: 1px solid hsl(0, 0%, 0%, 0.08);
    border-radius: 8px;
    padding: 0.5rem 0.75rem;

    transition: background-color 200ms;
}

.new-expense__input:hover,
.new-expense__input:focus-visible {
    background-color: var(--clr-neutral-200);
}

#input-item {
    font-weight: 700;
}

.new-expense__btn-container {
    display: flex;
    gap: 0.5rem;

    margin-top: auto;
}

.new-expense__btn {
    padding: 0.25rem 0.5rem;
    border-radius: 8px;
    font-size: var(--fz-50);
}

.btn-save {
    background-color: var(--clr-primary-200);
    color: var(--clr-neutral-100);
}

.btn-save:hover,
.btn-save:focus-visible {
    background-color: var(--clr-primary-300);
}

.btn-cancel {
    background-color: transparent;
    border-color: transparent;
    box-shadow: unset;
}

.btn-cancel:hover {
    background-color: transparent;
    color: var(--clr-neutral-950);
    color: var(--clr-danger-200);
}

@media screen and (width > 768px) {
    body {
        padding: 2rem;
    }

    .btn {
        padding: 0.5rem 1.25rem;
        font-size: var(--fz-100);
    }

    .amount-total {
        font-size: var(--fz-700);
    }

    main {
        margin-top: 2rem;
    }

    .sunshine {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 2rem;
        align-items: start;
    }

    .expense-modal {
        display: none;
    }

    .btn-new-expense {
        display: none;
    }

    .new-expense-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        padding: 1rem 1.5rem;
    }

    .new-expense-container,
    .expenses {
        border: 1px solid hsl(0, 0%, 0%, 0.06);
        border-radius: 16px;
        box-shadow: var(--bxsh-100);
        padding: 1rem 1.5rem;
    }

    .new-expense__entry:not(:first-of-type) {
        margin-top: 0.75rem;
    }

    .btn-save {
        font-weight: 700;
    }

    .expenses {
        gap: 0.25rem;
    }

    .expenses__title {
        font-size: var(--fz-400);
    }

    .expense {
        min-height: 3rem;
    }

    .btn-delete-all {
        margin-top: 0.75rem;
    }

    .expense__item {
        font-size: var(--fz-200);
    }
}
